.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}
 
.profile{
  border: 1px solid red;
  width: 300px;
  margin: 0 auto;
  height: 300px;
border-radius: 50%;
}

img{
  margin: 20px;
  width: 100px;
  height:100px;
  object-fit: cover;
}